<%- layout('layouts/main.ejs')%>

<form action="/signup" method="POST">
  <input type="email" name="email"  placeholder="user email">
  <input type="password" name="password" placeholder="user password">
  <button type="submit">Send</button>
</form>